<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/jpeg" href="{{ "/images/icon.jpg" | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

<meta name="twitter:site" content="@{{site.twitter.username }}" />
<meta name="twitter:creator" content="@{{site.twitter.username }}" />
<meta name="twitter:title" content="{{ page.title }}" />
{% if page.description %}
  <meta name="twitter:description"
    content="{{ page.description }}">
{% else %}
  <meta name="twitter:description"
    content="{{ page.content | strip_html | xml_escape
      | truncate: 200 }}">
{% endif %}

{% if page.image %}
<meta name="twitter:image" content="{{ page.image | absolute_url }}" />
{% else %}
<meta name="twitter:image" content="{{ site.logo | absolute_url }}" />
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FE5ZKRP2XF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-FE5ZKRP2XF');
</script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        
        <img src="/images/mad_scientist_small.jpg" alt="Satnam Singh" />

	<p>Personal: <a href = "mailto:satnam@raintown.org">satnam@raintown.org</a><br>
     Personal: <a href = "mailto:satnam6502@gmail.com">satnam6502@gmail.com</a><br>
     Professional: <a href = "mailto:s.singh@acm.org">s.singh@acm.org</a><br>
     Professional: <a href = "mailto:s.singh@ieee.org">s.singh@ieee.org</a><br>
     Professional: <a href = "https://satnam6502.github.io">https://satnam6502.github.io</a><br>
     FP Castle: <a href = "https://fpcastle.com">https://fpcastle.com</a><br>
        </p>

        <p> 
        <br> 
             <img src="/images/li.png" alt="" style="width:21px;height:18px;"/><a href = "https://www.linkedin.com/in/satnam6502"> satnam6502
            </a>
        <br> 
             <img src="/images/twitter.png" alt="" style="width:20px;height:20px;"/><a href = "https://twitter.com/satnam6502"> satnam6502
            </a>
        <br> 
            <img src="/images/bluesky.png" alt="" style="width:20px;height:20px;"/><a href = "https://bsky.app/profile/satnam6502.bsky.social"> satnam6502.bsky.social
           </a>
         <br> 
             <img src="/images/github.png" alt="" style="width:20px;height:20px;"/><a href = "https://github.com/satnam6502"> satnam6502
            </a>
         <br>
             <img src="/images/scholar.png" alt="" style="width:20px;height:20px;"/> <a href = "https://scholar.google.com/citations?user=q_czEj0AAAAJ&hl=en" > Google Scholar
            </a>
         <br>
            <img src="/images/orcid.png" alt="" style="width:20px;height:20px;"/> <a href = "https://orcid.org/0000-0002-2017-4310" > ORCID-ID: 0000-0002-2017-4310
           </a>
          <br>
             <a href ="https://conf.researchr.org/profile/satnamsingh" > Researchr Profile
           </a>
        </p>

      </header>

      <section>
      {{ content }}

      <h3>Posts</h3>
      <p>
        {% for post in site.posts %}
            <a href="{{ post.url }}">{{ post.title }}</a><br>
        {% endfor %}
      </p>

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>

